
.Navbarbackgound{
   
    background-color: #020306;
    box-shadow: 0 4px 4px -4px rgba(0,0,0,.12);
}
.Navbar{
    width:100%;
    max-width: 1440px;
    margin: 0 auto;
    padding:0 15px;
 
}
.Navbar1{
    width:100%;
    max-width: 1440px;
    margin: 0 auto;
    padding:0 15px;
 
}
.mare{
    text-align: right;
}
.Navbarlist{
    display:flex;
    align-items: center;
    justify-content: space-between;
  
   
    
}
.meme{
    padding:10px 15px;
    width:100%;
    border-radius: 5px;
    outline: 0;
    border:0
}
.meme2{
    padding:5px 15px;
}
.Navbarlist li{
    list-style: none;
    font-weight: 500;
}
.NavbarSearch{
    width:100%;
    max-width: 900px;
    border-radius: 8px;
    background-color: #fff;
    border: 1px solid #ceccccdb;
}
.search{
    width:92%;
    padding:7px;
    border:none;
    outline:0;
    border-bottom-left-radius: 6px;
    border-top-left-radius: 6px;
   
}
.Navbarli{
  width:10%;
  
}
.icon_brand_size{
    font-size: 15px;
}
.header{
    padding:8px 0;
}
.Navbarli2{
    width:50%;
}
.slepp{
    justify-content: space-between;
    padding:12px 10px;
    width: 100%;
        max-width: 700px;
        /* color:#4169e1; */
      
        margin: 0 auto;
  
}
.helip{
    display:flex;
    align-items:center;
    margin-left: 10px;
}
.Navbarbackgound{

}
.help{
    text-align: center;
}
.spa{
    margin-left: 5px;
}
.slepp li{
    /* background-color: blueviolet; */
    padding:6px 0px
}
.nabb{
    color:gold
}
.nabb:hover{
    color:#00bc8d;
}
.kinG{
    padding:10px 15px;
    display:flex;
    align-items: center;
    justify-content: space-between;
}
.NavBack{
    /* /* background-color:#f24dd29c; */
        background-color: #0a0417d6; 
    /* border-top: 1px solid rgb(232, 232, 242); */
}
.BtnSearch{
    padding:7px 8px;
    outline: 0;
    border:0;
    cursor:pointer;
    width:8%;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;

}

@media(max-width:768px){
    .Navbarbackgound {
        display: none;
    }
}
@media(min-width:769px){
    .NavBkin{
        display:none;
    }
}